awscrt
async_timeout
torch>=2.1.0
accelerate
transformers>=4.33.1
datasets
ftfy
tensorboard
sentencepiece
Jinja2
numexpr>=2.7.3
hf_transfer
evaluate
# vllm>=0.2.0,<0.2.6
vllm==0.4.0.post1+cpu
numpy<1.24
ninja
protobuf<3.21.0
safetensors
pydantic~=1.10.0
einops
markdown-it-py[plugins]
fastapi-versioning
scipy
opentelemetry-api>=1.15.0
opentelemetry-sdk
opentelemetry-exporter-otlp
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-aiohttp-client
opentelemetry-instrumentation-botocore
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-redis